#sketchButtons {
    display: inline-block;
    margin-bottom: px;
    background-color: rgb(255, 248, 226);
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 12px;
    border: solid;
    border-width: 1px;
    border-color: #e3a726;
    width: 100%;

    cursor: pointer;
}

#sketchButtons:hover {
    background-color: rgb(251, 246, 221);
    color: rgb(255, 248, 226);
    border-color: rgb(255, 248, 226);
    border: solid;
    border-width: 1.4px;
    border-color: #43245e;
}

#header {
    color: #43245e;
}